name: Publish Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew currentVersion

      - run: ./gradlew assemble

      - run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-configuration-cache

      - run: ./gradlew publishAllPublicationsToGithubRepository --no-configuration-cache

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assembleRelease
        working-directory: sample

      - uses: actions/upload-artifact@v5
        with:
          name: apk
          path: sample/app/build/outputs/apk/release/*.apk

      - uses: softprops/action-gh-release@v2.4.2
        with:
          files: sample/app/build/outputs/apk/release/*.apk
